@charset "utf-8";
.container{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background-color:#efefef;
}
.header{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:64px;
	background-color:#efeeee;
}
.left{
	position:absolute;
	top:64px;
	left:0px;
	bottom:0px;
	width:200px;
	background-color:#efee00;
}
.content{
	position:absolute;
	top:64px;
	left:200px;
	bottom:0px;
	right:0px;
	background-color:#fff;
}
iframe{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	padding:0px;
}